@font-face {
    font-family: 'redhat';
    src: url(redhatfont/TTF/RedHatDisplay-Medium.ttf);
}

.botao {
    color: black;
    font-family: redhat;
    font-weight: bold;
    font-size: 95%;
    text-align: center;

}
.botao:hover{
    color: aliceblue;
}

.agenda td{
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    padding: 10px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.especialidade_a{
    color: black;
}
.especialidade_a:hover {
    color: orange;
}
.agenda input {
    background-color: transparent;
    border: 0;
}

footer {
    bottom: -12;
}

table {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: x-large;
    border-collapse: separate;
    border-spacing: 10px;
    padding-bottom: 50px;
}
